@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family:'roboto';
}

.contenedor{
    padding: 60px 0;
    width: 90%;
    max-width: 1000px;
    margin: auto;
    overflow: hidden;
}


.titulo{
    color: rgb(0, 0, 0);
    font-size: 50px;
    text-align: center;
    margin-bottom: 60px;
    text-shadow: -4px -4px 1px rgba(108, 140, 255, 0.76);
    margin: 5px;
    padding: 5px;

}

/*menu*/

#menu {
	background: #0099CC;
	background: linear-gradient(to bottom,  #0099CC,  #FF99CC);
	color: #FFF;
	height: 45px;
	padding-left: 18px;
	border-radius: 10px;
}
.menu li.logos{
    border-right: 1px solid rgb(40, 143, 211);
    }
#menu ul, #menu li {
	margin: 0 auto;
	padding: 0;
	list-style: none
}
#menu ul {
	width: 100%;
}
#menu li {
	float: left;
	display: inline;
	position: relative;
}
#menu a {
	display: block;
	line-height: 45px;
	padding: 0 14px;
	text-decoration: none;
	color: #FFFFFF;
	font-size: 16px;
}
#menu a.dropdown-arrow:after {
	content: "\25BE";
	margin-left: 5px;
}
#menu li a:hover {
	color: #0099CC;
	background: #F2F2F2;
}
#menu input {
	display: none;
	margin: 0;
	padding: 0;
	height: 45px;
	width: 100%;
	opacity: 0;
	cursor: pointer
}
#menu label {
	display: none;
	line-height: 45px;
	text-align: center;
	position: absolute;
	left: 35px
}
#menu label:before {
	font-size: 1.6em;
	content: "\2261"; 
	margin-left: 20px;
}

#menu ul.sub-menus{
	height: auto;
	overflow: hidden;
	width: 170px;
	background: #444444;
	position: absolute;
	z-index: 99;
	display: none;
}
#menu ul.sub-menus li {
	display: block;
	width: 100%;
}
#menu ul.sub-menus a {
	color: #FFFFFF;
	font-size: 16px;
}
#menu li:hover ul.sub-menus {
	display: block
}
#menu ul.sub-menus a:hover{
	background: #F2F2F2;
	color: #444444;
}
@media screen and (max-width: 800px){
	#menu {position:relative}
	#menu ul {background:#111;position:absolute;top:100%;right:0;left:0;z-index:3;height:auto;display:none}
	#menu ul.sub-menus {width:100%;position:static;}
	#menu ul.sub-menus a {padding-left:30px;}
	#menu li {display:block;float:none;width:auto;}
	#menu input, #menu label {position:absolute;top:0;left:0;display:block}
	#menu input {z-index:4}
	#menu input:checked + label {color:white}
	#menu input:checked + label:before {content:"\00d7"}
	#menu input:checked ~ ul {display:block}
}

.logo-copaisi{
    height: 350px;
    width: 250px;

}
.copaisi{
    height: 40px;
    width: 60px;
}
/*header*/

header{
    width: 100%;
    height: 600px;
    background: rgb(63,94,251);
    background: radial-gradient(circle, rgba(63, 94, 251, 0.521) 0%, rgba(204, 110, 128, 0.466) 100%),url(../img/robot-2.jpg);
    background-size: cover;
    background-attachment: fixed ;
    position: relative;
}

header .textos-header{
    display: flex;
    height: 400px;
    width: 100%;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;
}
.textos-header h1{
    font-size: 40px;
    color:#fff;    
    align-items: center;
}

.textos-header h3{
    font-size: 30px;
    font-weight: 250;
    color:#fff;
}

.wave{
    position: absolute;
    bottom: 0;
    width: 100%;
}

.main-header{
    border-radius: 13px;
    background: rgb(255, 255, 255);
    box-shadow:  20px 20px 60px #ffffff,
             -20px -20px 60px #ffffff;
}



.contenedor-all{
    width: 90%;
    max-width: 1000px;
    margin: auto;
    padding: 60px;
}
.contenedor-all img{
    width: 300px;
    height: 230px;
    float:left;
    margin-right: 15px;
    margin-bottom: 5px;

}

.contenedor-all p{
    text-align: justify;
    font-size: 16px;
    font-weight: 100;
    margin-top: 20px;
}

.ponentes{
    border-radius: 13px;
    background: #f2f2f2;
    box-shadow:  20px 20px 60px #cecece,
             -20px -20px 60px #ffffff;
}


/*imagenes*/
.ficha{
    margin:10px auto;
    display:block;
    width:1200px;
    height:500px;
}
.navega{
    background: #FFF;
}
 

 .div--ponentes{
     display:flex;
     justify-content: space-between;
     align-items: center;
     flex-wrap: wrap;
 }
 
 .card{
     width: 30%;
     padding: 30px 0;
     overflow: hidden;
     border-radius: 6px;
background: #162974;
box-shadow:  5px 5px 4px #14266c,
             -5px -5px 4px #182c7c;
    position: relative;
    text-align: right;
    margin-bottom: 60px;
    box-shadow: 0ch0 6px rgb(185, 40, 40);     
 }

 .card-img{
     width: 95%;
     height: 200px;
     object-fit: cover;
     border-radius: 10 px 0 0 10px;
 }
 .card-texto{
    text-align: left;
     width: 95%;
     margin-left: auto;
     padding-right: 25px;
 }

 .card--ponente{
     color:#fff;
    font-weight: 700;
    margin: 25px 0 12px;
    font-size: 18px;     
 }

 .card--name{
     font-size:40px;
     color: #fff;     
 }

 /*parrafo*/
 
 .inteligencia{
    text-align:justify;
   margin-top: 20px;
   margin-right: 150px;
   margin-left: 150px;
 }
 
 /*table*/

 .tabla{
     width: 800px;
     margin: auto;
     table-layout: fixed;
     text-align: center;
     margin-top: 50px;
     font-family: 'roboto';
     border-radius: 6px;
     background: #dbdce1;
     box-shadow:  5px 5px 4px #cccdd1,
             -5px -5px 4px #eaebf1;     
 }
 .tabla tr td{
     border: 1px dotted rgb(0, 0, 0);
     border-collapse: collapse;
     padding: 5px;
     font-size: 15px;
 }
  tr{
      background: #182c7c;
      padding: 50px;
      text-transform: uppercase;
  }
  td:nth-child(5n+1){
      background: #cf0fff;
  }
  td:nth-child(5n+2){
    background: #8afc08;
}
td:nth-child(5n+3){
    background: #e71442;
}

td:nth-child(5n+4){
    background: #f4f813;
}
td:nth-child(5n+5){
    background: #ff0707;
}
td:nth-child(5n+6){
    background: #09efff;
}

/*fooer*/

footer{
    width:100%;
    background: #202020;
    color:white;
    padding-top:40px;
    margin: 20px;
}

.contenedor-footer-all{
   width: 100%;
   max-width: 1200px;
   margin: auto;
}

.contenedor-body{
display: flex;
}
 
.colum1{
    max-width: 400px;   
}
.colum h2{
    font-size:18px;
}

.colum2{
    max-width: 400px;
}
.colum2 h1{
    font-size: 20px;
}
 .colum2 .row{
     margin-top: 20px;
     display:inline-block;
 }
 .row img{
    width: 35px;
    height: 35px;
 }

 .row label{
     margin-top: 20px;
     margin-left: 20px;
     color:#c7c7c7;
 }

 @media screen and (max-width:1100px){
     .contenedor-body{
         flex-wrap: wrap;
     }

     
     .colum1,
     .colum2{
         margin-top:40px;
     }
 }

 

 